@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .card-contact {
    width: 25%;
    margin: auto;
    --tw-bg-opacity: 1;
    background-color: rgba(237, 233, 254, var(--tw-bg-opacity));
    margin-top: 1rem/* 16px */;
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
};